.profile-image{
    border-radius: 50%!important;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    -ms-border-radius: 50%!important;
    -o-border-radius: 50%!important;
    height: 150px;
    width: 150px;
    margin-top: 4px;
    margin-left: 50px;
}

.avatar-profile{
    font-size: 50px;
    width: auto;
    height:auto;
}

.pff{
   display: flex;
   justify-content: space-between;
}


@media screen and (max-width: 480px){
  
    .responsive{
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}
  @media (max-width: 770px) {
    
   }

